* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    background-image: linear-gradient(#fff,#123);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profile-card {
    width: 470px;
    text-align: center;
    border-radius: 8px;
}

.card-header {
    background: #2c3a47;
    padding: 60px 40px;
}

.picture img {
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.picture {
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #74b9ff, #e28341);
    margin: auto;
    border-radius: 50%;
    animation: animasyon 2s linear infinite;
    background-size: 200% 200%;
}

@keyframes animasyon {
    25% {
        background-position: left bottom;
    }

    50% {
        background-position: right bottom;
    }

    75% {
        background-position: right top;
    }

    100% {
        background-position: left top;
    }
}

.name {
    color: #f2f2f2;
    font-size: 32px;
    font-weight: 600;
    margin: 20px 0;
}

.desc {
    font-size: 22px;
    color: #e66767;
}

.sm {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.sm a {
    color: #f2f2f2;
    width: 56px;
    font-size: 52px;
    transition: .3s linear;
    margin: 10px;
}

.sm a:hover {
    color: #e66767;
}

.contact-btn {
    display: inline-block;
    padding: 12px 50px;
    color: #e66767;
    border: 2px solid #f2f2f2;
    border-radius: 6px;
    margin-top: 16px;
    transition: .3s linear;
    border-image: linear-gradient(130deg, #74b9ff, #e28341);
    ;
    border-image-slice: 1;
}

.contact-btn:hover {
    background: #e28341;
    color: #f2f2f2;
}

.card-footer {
    background: #2c3a47;
    color: white;
    padding: 40px 10px;
}

.card-footer p {
    padding: 0 15px;
    margin-top: -20px;
}

.card-footer h5 {
    color: blanchedalmond;
    margin-top: 10%;
}

/* responsive 414px start */

@media all and (max-width:414px) {

    .profile-card {
        width: 75%;
        margin-top: -45px;
    }


    .picture img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }

    .name {
        font-size: 28px;
        font-weight: 570;
        margin: 20px 0;
    }

    .desc {
        font-size: 20px;
    }

    .sm a {
        width: 50px;
        font-size: 48px;
    }

    .contact-btn {
        padding: 15px 30px;
        margin-top: 10px;
        margin-bottom: -30px;
    }

    .card-footer p {
        padding: 0 8px;
    }

    h1 {
        padding-top: 30px;
    }

}

/* responsive 414px end */

/* responsive 375px start */

@media all and (max-width:375px) {

    .profile-card {
        width: 70%;
        margin-top: -15%;
    }

    .card-header {
        padding: 25px 10px;
    }

    .picture img {
        width: 110px;
        height: 110px;
        border-radius: 50%;
    }

    .name {
        font-size: 26px;
        font-weight: 540;
        margin: 20px 0;
    }

    .desc {
        font-size: 18px;
    }

    .sm a {
        width: 50px;
        font-size: 48px;
    }

    .contact-btn {
        padding: 12px 30px;
        margin-top: 0;
        margin-bottom: 4px;
    }

    .card-footer {
        padding: 40px 10px;
    }

    .card-footer p {
        padding: 0 5px;
    }

    .card-footer h5 {
        margin-bottom: -15px;
    }

}

/* responsive 375px end */

